*.o
*-enum-types.c
*-enum-types.h
*-generated.c
*-generated.h
*.gir
*.gmo
*.la
*.lo
*.pc
*.typelib
*.vapi
*~

.deps
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1

/data/accounts-daemon.service
/data/org.freedesktop.Accounts.service
/data/org.freedesktop.accounts.policy

/doc/dbus/AccountsService.xml
/doc/dbus/AccountsService.html
/doc/dbus/org.freedesktop.Accounts.User.ref.xml
/doc/dbus/org.freedesktop.Accounts.ref.xml

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/po/stamp-it
/po/POTFILES
/po/Makefile.in.in
/po/.intltool-merge-cache

/src/accounts-daemon
